<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context
       		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 启用@AspectJ注解 ,并强制使用cglib代理(默认将使用jdk基于接口的动态代理) -->
	<!-- 日志 -->
	<aop:config proxy-target-class="true">

	</aop:config>

	<aop:aspectj-autoproxy proxy-target-class="true" />
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="NESTED" rollback-for="java.lang.Exception" />
			<tx:method name="update*" propagation="NESTED"
				rollback-for="java.lang.Exception" />
			<tx:method name="delete*" propagation="NESTED"
				rollback-for="java.lang.Exception" />
			<tx:method name="remove*" propagation="NESTED"
				rollback-for="java.lang.Exception" />
			<tx:method name="send*" propagation="NESTED" rollback-for="java.lang.Exception" />
			<tx:method name="add*" propagation="NESTED" rollback-for="java.lang.Exception" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true"
				rollback-for="java.lang.Exception" />
			<tx:method name="is*" propagation="REQUIRED" read-only="true"
				rollback-for="java.lang.Exception" />
			<tx:method name="load*" propagation="REQUIRED" read-only="true"
				rollback-for="java.lang.Exception" />
			<tx:method name="find*" propagation="REQUIRED" read-only="true"
				rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<!-- 那些类的哪些方法参与事务 -->
	<aop:config>
		<aop:pointcut id="allBaseMethod"
			expression="execution(* com.slh.core.commons.service.impl.*.*(..))" />
		<aop:pointcut id="allGrraMethod"
			expression="execution(* com.slh.grra.service.impl.*.*(..))" />
		<aop:advisor pointcut-ref="allBaseMethod" advice-ref="txAdvice" />
		<aop:advisor pointcut-ref="allGrraMethod" advice-ref="txAdvice" />
	</aop:config>

</beans>
