<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 系统设置 -->
	<mapping resource="com/slh/entity/SystemConfig.hbm.xml" />
	
	<mapping resource="com/slh/entity/Blog.hbm.xml"/>

	<mapping resource="com/slh/entity/Contact.hbm.xml"/>

</session-factory>
</hibernate-configuration>
